Repository nachatz/pytest-streaming, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci, documentation, source, test, tools

.github/labeler.yml:

---
bug:
  - head-branch: [bug]
build:
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/build.yml]
ci:
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - README.md
          - CHANGELOG.md
          - .github/workflows/deploy_docs.yml
source:
  - changed-files:
      - any-glob-to-any-file: [pytest_streaming/**]
test:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - examples/**
          - pytest.ini
          - .github/workflows/test.yml
tools:
  - changed-files:
      - any-glob-to-any-file:
          - uv.lock
          - pyproject.toml
          - mypy.ini
          - ruff.toml
          - docker-compose.yml
          - .gitignore
          - .github/workflows/fmt.yml
          - .github/workflows/mypy.yml

changes
  docker-compose.yml
  pyproject.toml
  pytest_streaming/config.py
  pytest_streaming/plugin.py
  pytest_streaming/pulsar/__init__.py
  pytest_streaming/pulsar/client.py
  pytest_streaming/pulsar/markers.py
  pytest_streaming/pulsar/plugin.py
  uv.lock
Labels: source, tools

update action naming
  .github/workflows/deploy_docs.yml
  .github/workflows/fmt.yml
  .github/workflows/mypy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/yml_lint.yml
Labels: ci, documentation, test, tools

feat: add pulsar support
  examples/test_pulsar_marker.py
  examples/test_pulsar_plugin.py
  pyproject.toml
  pytest.ini
  pytest_streaming/config.py
  pytest_streaming/plugin.py
  pytest_streaming/pulsar/client.py
  pytest_streaming/pulsar/markers.py
  pytest_streaming/pulsar/plugin.py
  tests/conftest.py
  tests/pubsub/test_pubsub_markers.py
  tests/pubsub/test_pubsub_plugin.py
  tests/pubsub/test_pubsub_publisher.py
  tests/pulsar/__init__.py
  tests/pulsar/enums.py
  tests/pulsar/test_pulsar_markers.py
  tests/pulsar/test_pulsar_plugin.py
  tests/settings.py
  uv.lock
Labels: source, test, tools

naming
  pytest_streaming/pulsar/markers.py
Labels: source

timeout
  pytest_streaming/pulsar/client.py
Labels: source

update timeout
  pytest_streaming/pulsar/client.py
Labels: source

run
  .github/workflows/test.yml
Labels: ci, test

feat: add pulsar support for streaming markers and global (#23)
  .github/workflows/deploy_docs.yml
  .github/workflows/fmt.yml
  .github/workflows/mypy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/yml_lint.yml
  docker-compose.yml
  examples/test_pulsar_marker.py
  examples/test_pulsar_plugin.py
  pyproject.toml
  pytest.ini
  pytest_streaming/config.py
  pytest_streaming/plugin.py
  pytest_streaming/pulsar/__init__.py
  pytest_streaming/pulsar/client.py
  pytest_streaming/pulsar/markers.py
  pytest_streaming/pulsar/plugin.py
  tests/conftest.py
  tests/pubsub/test_pubsub_markers.py
  tests/pubsub/test_pubsub_plugin.py
  tests/pubsub/test_pubsub_publisher.py
  tests/pulsar/__init__.py
  tests/pulsar/enums.py
  tests/pulsar/test_pulsar_markers.py
  tests/pulsar/test_pulsar_plugin.py
  tests/settings.py
  uv.lock
Labels: ci, documentation, source, test, tools

Notes added by 'git notes add'
  9094756403515297c051dfe36d05b8c95de2ee45
Labels: none
